.jumbotron {
    background-color: rgb(165, 76, 3);
}
.display-4 {
    text-align: center;
}

.lead {
    text-align: center;
}

.btn-primary {
    background-color: rgba(243, 133, 8, 0.938);
}
.btn-secondary {
    background-color: rgba(243, 133, 8, 0.938) ;
}