.jumbotron {
   background-color: transparent;
}
body {
    background-image: url("https://files.slack.com/files-pri/T01LFB19ZCH-F028HLEG8DV/image.png");
}


.display-4 {
    text-align: center;
    color: white;
    font-weight: bold;
}


.btn-primary {
    background-color: rgba(0, 112, 9, 0.836) ;
    
}
.btn-primary:hover {
    background-color: rgb(160, 229, 165);
}
.btn-secondary {
    background-color: rgba(0, 112, 9, 0.836) ;
}
.btn:hover {
    background-color: rgb(160, 229, 165);
}
.card {
    border-color: rgba(0, 112, 9, 0.836) ;
    border-width: .5rem;
    
}
.navbar {
    margin-bottom: 2rem;
    margin-left: 60rem;
}