Form {
    align-items: center;
}


Label {
font-weight: bolder;

}
.SignIn {
    background-color: transparent;
    margin-left: 2rem;
    padding: 2rem;
    border-radius: .2rem;
    width:25rem;
    margin-left: 2rem;
}
H1 {
    color: green;
}